@tailwind base;
@tailwind components;
@tailwind utilities;

html[dir="rtl"] {
  direction: rtl;
  /* text-align: right; */
}

html [dir="ltr"] {
  direction: ltr;
  /* text-align: left; */
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}
